<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted!</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container" style="margin: 0 auto;">
        <h1 class="text-center mt-4 mb-4">UNI Tutors' Employment</h1>

        <p>Your application for the role of a <b>{{job['title']}}</b> at Fury Road University has been submitted!</p>

        <b>Full Name</b>
        <div class="mb-3">{{application['full_name']}}</div>

        <b>Email</b>
        <div class="mb-3">{{application['email']}}</div>

        <b>LinkedIn URL</b>
        <div class="mb-3">{{application['linkedin_url']}}</div>

        <b>Education</b>
        <div class="mb-3">{{application['education']}}</div>

        <b>Work Experience</b>
        <div class="mb-3">{{application['work_experience']}}</div>
    </div>

    {% include 'footer.html' %}
</body>

</html>