<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniJobs - Employment Portal</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/fvc.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/static/images/unijobs-logo.png" alt="UniJobs Logo" class="logo-img">
        </div>
        <div class="content">
            <h1>Welcome to UniJobs</h1>
            <b><pre>
An intuitive employment portal for
Fury Road University</pre></b>
            <a href="/listings"><button class="listings-btn">See listings</button></a>
            <div class="social-icons">
                <a href="https://x.com/1301ek?t=ky2-HdJLu4U6dmD9n63xNQ&s=09" target="_blank">
                    <img src="/static/images/x logo.png" alt="Twitter">
                </a>
                <a href="https://www.instagram.com/1301ek?igsh=Zmg5c2lkcmJ3emJ6" target="_blank">
                    <img src="/static/images/ig logo.png" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61563390615921" target="_blank">
                    <img src="/static/images/fb logo.png" alt="facebook">
                </a>
            </div>
        </div>
        <div class="image">
            <img src="/static/images/shake.jpeg" alt="People shaking hands" class="hero-img">
        </div>
    </div>
</body>
</html>
